div.intro{
    width: auto;
    height: auto;
  
}

div.home-left-container {
    display: flex;
    flex-direction: column;
    width: 265px;
    border-right: 2px solid red;
    background: blue;
    height: calc(100vh);
}
div.title h1{
    text-align: center;
    
}
.intro input[type="submit"] {
width: 100%;
padding: 15px;
background-color: #535b63;
border: 0;
box-sizing: border-box;
cursor: pointer;
font-weight: bold;
color: #ffffff;
}